@import url('https://img.freepik.com/free-photo/html-system-for-website-concept_23-2150376770.jpg?size=626&ext=jpg&ga=GA1.1.1477466969.1702927958&semt=ais');
.proI 
{
 font-size: small;
 font-family: verdana;
 color: white;
 border: 2px solid white;
 border-radius: 10%;
 opacity: 10%;
 
}

.Basehead 
{
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 flex-wrap: nowrap;
}

.imgheader 
{
    background: url('https://img.freepik.com/free-photo/html-system-for-website-concept_23-2150376770.jpg?size=626&ext=jpg&ga=GA1.1.1477466969.1702927958&semt=ais');
    background-size: cover;
    background-position: center center; 
}
