.proI 
{
 font-size: small;
 font-family: verdana;
 color: black;
 border: 7px solid black;
 border-radius: 10px;
 
}

.Basehead 
{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 flex-wrap: nowrap;
 padding: 10px;
}