*{
    margin: 0;
    padding: 0;
    
}

.proI 
{
 font-size: medium;
 font-family: verdana;
 color: white;
 border: 2px solid white;
 border-radius: 10%;
 padding: 10px;
 margin-right: 250px;
 user-select: none;
 cursor: pointer;
}

.Basehead 
{
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 flex-wrap: nowrap;
}

.imgheader 
{
    background: url('Image.jpg');
    background-size: cover; 
    background-position: center center;   
}



.columns-1
{
 margin-top: 30px;
 margin-left: 200px;
 width: 300px;
 font-size: large;
}

.body 
{
    font-size: medium;
    font-family: verdana;
    color: black;
    
}



.text 
{
 border: 2px solid rgb(5, 20, 223);
 border-radius: 20px;
 padding: 15px;
 background-color: rgba(62, 151, 253, 0.096);
 text-decoration: none;
}

.Vedenie 
{
display: flex;
flex-wrap: nowrap;
flex-direction: row;
}

.columns-2 
{
    margin-top: 35px;
    margin-left: 40px;
    width: 800px;
    font-size: large;
    
}
.text2 
{
    
    padding: 25px;
    background-color: rgba(62, 151, 253, 0.096);
    text-decoration: none;
}

.tx
{
    background-color: none;
    border: none;
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

